<footer>
  <section class="companyInfo">
    <ul class="companyInfoList">
      <li class="companyInfoItem">
        법인명 | <%=companyInfo.company_law_name%>
      </li>
      <li class="companyInfoItem">
        대표자 | <%=companyInfo.ceo%>
      </li>
      <li class="companyInfoItem">
        주소 | <%=companyInfo.address%>
      </li>
      <li class="companyInfoItem">
        전화 | <%=companyInfo.phone%>
      </li>
      <li class="companyInfoItem">
        사업자 등록번호 | <%=companyInfo.business_id%>
      </li>
      <!-- <li class="compnayInfoItem">
        통신판매업 신고 | <%=companyInfo.online_seller_id%>
      </li> -->
    </ul>
    <ul class="popupButtonList">
      <li class="popupButtonItem" id="companyPolicyButton" >
        이용약관
      </li>
      <li class="popupButtonItem" id="privatePolicyButton">
        개인정보 취급정책
      </li>
    </ul>
  </section>
  <section class="copyrightInfo">
    <p>
      Copyright © 디노멘트. All rights reserved.
    </p>
  </section>
  <section class="snsSection">
    <ul class = "snsList">
        <li class = "snsItem">
            <a href = "" target="_blank">
                <img src = "/img/icon/facebook.jpg" />
            </a>
        </li>
        <li class = "snsItem">
            <a href = "" target="_blank">
              <img src = "/img/icon/instagram.png" />
            </a>
        </li>
    </ul>
  </section>
</footer>
<section class="popupSection" id="companyPolicyPopup">
  <div class="popup">
    <div class="policyText">
      <%=companyInfo.company_policy%>
      서울중앙지검 특수2부(부장검사 송경호)는 6일 MB정부 청와대에서 정무수석을 지낸 박재완(63) 한반도선진화재단 이사장의 사무실을 압수수색했다. 박 전 수석은 MB정권 후반부에 부총리 겸 기획재정부 장관을 지내는 등 MB정권 내내 핵심 실세로 통했다. 2014년 2월부터 한반도선진화재단 이사장, 2015년 1월부터 성균관대 교수로 각각 재직 중이다.

검찰은 박 전 수석이 청와대 근무 시절 김 전 기획관으로부터 국정원 특활비 수천만원을 받아 쓴 단서를 잡은 것으로 알려졌다. 검찰은 역시 MB의 핵심 측근들 중 한 명인 장다사로(61) 전 청와대 총무기획관의 사무실도 함께 압수수색했다. 장 전 기획관은 MB의 형인 이상득 전 의원이 국회부의장으로 일하던 2006년 비서실장을 지냈으며 MB정권 출범 후에는 청와대 정무1비서관, 민정1비서관을 거쳐 김 전 기획관 후임으로 청와대 총무기획관에 기용됐다.

검찰은 전날 재판에 넘긴 김 전 기획관으로부터 두 사람에게 국정원 특활비 일부를 건넸다는 진술을 확보한 것으로 알려졌다. 김 전 기획관은 검찰 조사에서 “국정원 특활비 사용처를 MB가 직접 지정했으며 청와대 수석 등 측근들한테 ‘떡값’처럼 전달했다”고 말한 것으로 전해졌다.

이 전 대통령 측은 국정원 특활비 사용처 등에 대해 “전혀 사실이 아니다”는 입장이다. 전날 검찰이 김 전 기획관을 기소하며 ‘MB가 국정언 특활비 수수의 주범’이란 입장을 밝히자 이 전 대통령 측은 “사실관계에서도 크게 벗어나 있지만 그 절차와 법적 논리에서도 상식을 벗어난 것이라는 점에서 경악을 금할 수 없다”며 “거듭 밝히지만 이 전 대통령은 국정원 특활비와 관련해 그러한 시스템이 있다는 사실조차 몰랐다”고 반박한 바 있다.

2011년 6월 이명박 당시 대통령이 장다사로 당시 청와대 기획관리실장에게 임명장을 수여하고 있다.

검찰 안팎에선 전날 김 전 기획관 기소와 ‘MB가 주범’이란 취지의 입장 발표, 그리고 이날 MB 다른 측근들로의 수사 확대 등으로 인해 MB의 평창동계올림픽 개막식(2월9일) 참석은 물건너갔다는 관측이 나온다. 검찰에 의해 뇌물범죄의 ‘주범’으로까지 지목된 이가 국가적 행사장의 귀빈석에 앉아 있는 모습이 TV를 통해 전국에 생중계되는 경우 국민적 지탄이 쏟아지지 않겠느냐는 것이다.

MB 측의 한 관계자는 “문재인 대통령 명의의 초청장을 보내며 정중하게 참석을 권유할 때는 언제이고 이렇게 상식에서 벗어난 중간 수사결과 발표와 박 전 수석 등에 대한 추가 압수수색으로 뒤통수를 치느냐”고 청와대를 향해 분통을 터뜨렸다.
서울중앙지검 특수2부(부장검사 송경호)는 6일 MB정부 청와대에서 정무수석을 지낸 박재완(63) 한반도선진화재단 이사장의 사무실을 압수수색했다. 박 전 수석은 MB정권 후반부에 부총리 겸 기획재정부 장관을 지내는 등 MB정권 내내 핵심 실세로 통했다. 2014년 2월부터 한반도선진화재단 이사장, 2015년 1월부터 성균관대 교수로 각각 재직 중이다.

검찰은 박 전 수석이 청와대 근무 시절 김 전 기획관으로부터 국정원 특활비 수천만원을 받아 쓴 단서를 잡은 것으로 알려졌다. 검찰은 역시 MB의 핵심 측근들 중 한 명인 장다사로(61) 전 청와대 총무기획관의 사무실도 함께 압수수색했다. 장 전 기획관은 MB의 형인 이상득 전 의원이 국회부의장으로 일하던 2006년 비서실장을 지냈으며 MB정권 출범 후에는 청와대 정무1비서관, 민정1비서관을 거쳐 김 전 기획관 후임으로 청와대 총무기획관에 기용됐다.

검찰은 전날 재판에 넘긴 김 전 기획관으로부터 두 사람에게 국정원 특활비 일부를 건넸다는 진술을 확보한 것으로 알려졌다. 김 전 기획관은 검찰 조사에서 “국정원 특활비 사용처를 MB가 직접 지정했으며 청와대 수석 등 측근들한테 ‘떡값’처럼 전달했다”고 말한 것으로 전해졌다.

이 전 대통령 측은 국정원 특활비 사용처 등에 대해 “전혀 사실이 아니다”는 입장이다. 전날 검찰이 김 전 기획관을 기소하며 ‘MB가 국정언 특활비 수수의 주범’이란 입장을 밝히자 이 전 대통령 측은 “사실관계에서도 크게 벗어나 있지만 그 절차와 법적 논리에서도 상식을 벗어난 것이라는 점에서 경악을 금할 수 없다”며 “거듭 밝히지만 이 전 대통령은 국정원 특활비와 관련해 그러한 시스템이 있다는 사실조차 몰랐다”고 반박한 바 있다.

2011년 6월 이명박 당시 대통령이 장다사로 당시 청와대 기획관리실장에게 임명장을 수여하고 있다.

검찰 안팎에선 전날 김 전 기획관 기소와 ‘MB가 주범’이란 취지의 입장 발표, 그리고 이날 MB 다른 측근들로의 수사 확대 등으로 인해 MB의 평창동계올림픽 개막식(2월9일) 참석은 물건너갔다는 관측이 나온다. 검찰에 의해 뇌물범죄의 ‘주범’으로까지 지목된 이가 국가적 행사장의 귀빈석에 앉아 있는 모습이 TV를 통해 전국에 생중계되는 경우 국민적 지탄이 쏟아지지 않겠느냐는 것이다.

MB 측의 한 관계자는 “문재인 대통령 명의의 초청장을 보내며 정중하게 참석을 권유할 때는 언제이고 이렇게 상식에서 벗어난 중간 수사결과 발표와 박 전 수석 등에 대한 추가 압수수색으로 뒤통수를 치느냐”고 청와대를 향해 분통을 터뜨렸다.
서울중앙지검 특수2부(부장검사 송경호)는 6일 MB정부 청와대에서 정무수석을 지낸 박재완(63) 한반도선진화재단 이사장의 사무실을 압수수색했다. 박 전 수석은 MB정권 후반부에 부총리 겸 기획재정부 장관을 지내는 등 MB정권 내내 핵심 실세로 통했다. 2014년 2월부터 한반도선진화재단 이사장, 2015년 1월부터 성균관대 교수로 각각 재직 중이다.

검찰은 박 전 수석이 청와대 근무 시절 김 전 기획관으로부터 국정원 특활비 수천만원을 받아 쓴 단서를 잡은 것으로 알려졌다. 검찰은 역시 MB의 핵심 측근들 중 한 명인 장다사로(61) 전 청와대 총무기획관의 사무실도 함께 압수수색했다. 장 전 기획관은 MB의 형인 이상득 전 의원이 국회부의장으로 일하던 2006년 비서실장을 지냈으며 MB정권 출범 후에는 청와대 정무1비서관, 민정1비서관을 거쳐 김 전 기획관 후임으로 청와대 총무기획관에 기용됐다.

검찰은 전날 재판에 넘긴 김 전 기획관으로부터 두 사람에게 국정원 특활비 일부를 건넸다는 진술을 확보한 것으로 알려졌다. 김 전 기획관은 검찰 조사에서 “국정원 특활비 사용처를 MB가 직접 지정했으며 청와대 수석 등 측근들한테 ‘떡값’처럼 전달했다”고 말한 것으로 전해졌다.

이 전 대통령 측은 국정원 특활비 사용처 등에 대해 “전혀 사실이 아니다”는 입장이다. 전날 검찰이 김 전 기획관을 기소하며 ‘MB가 국정언 특활비 수수의 주범’이란 입장을 밝히자 이 전 대통령 측은 “사실관계에서도 크게 벗어나 있지만 그 절차와 법적 논리에서도 상식을 벗어난 것이라는 점에서 경악을 금할 수 없다”며 “거듭 밝히지만 이 전 대통령은 국정원 특활비와 관련해 그러한 시스템이 있다는 사실조차 몰랐다”고 반박한 바 있다.

2011년 6월 이명박 당시 대통령이 장다사로 당시 청와대 기획관리실장에게 임명장을 수여하고 있다.

검찰 안팎에선 전날 김 전 기획관 기소와 ‘MB가 주범’이란 취지의 입장 발표, 그리고 이날 MB 다른 측근들로의 수사 확대 등으로 인해 MB의 평창동계올림픽 개막식(2월9일) 참석은 물건너갔다는 관측이 나온다. 검찰에 의해 뇌물범죄의 ‘주범’으로까지 지목된 이가 국가적 행사장의 귀빈석에 앉아 있는 모습이 TV를 통해 전국에 생중계되는 경우 국민적 지탄이 쏟아지지 않겠느냐는 것이다.

MB 측의 한 관계자는 “문재인 대통령 명의의 초청장을 보내며 정중하게 참석을 권유할 때는 언제이고 이렇게 상식에서 벗어난 중간 수사결과 발표와 박 전 수석 등에 대한 추가 압수수색으로 뒤통수를 치느냐”고 청와대를 향해 분통을 터뜨렸다.

    </div>
  </div>
  <button>
    <img class="popupCloseButton" src="../../img/icon/close(invert).png" />
  </button>
</section>
<section class="popupSection" id="privatePolicyPopup">
  <div class="popup">
    <div class="policyText">
      <%=companyInfo.private_policy%>
    </div>
  </div>
  <button class="popupCloseButton">
    clsoe
  </button>
</section>
<script src="../../js/footer.js"></script>
